<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }} - {{ name() }}</span>
  <span class="example-spacer"></span>

  <img class="user-image" src="{{ pictureUrl() }}"/>

  <button *ngIf="authenticated()" (click)="logout()" mat-button>Log out</button>
  <button *ngIf="!authenticated()" (click)="loginWithRedirect()" mat-button>Log in</button>
  
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
